.cart-container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: teal;
}
.favorites-cart {
    background-color: tomato;
}