.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    object-fit: contain;
    padding-top: 5rem;
    box-shadow:  0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.search-contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    object-fit: contain;
    box-shadow:  0 0 0 1000px rgba(0, 0, 0, 0.2);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.main-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.search-header {
    display: flex;
    align-items: flex-start;
    padding-left: 5%;
}
.input__field {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: 1px solid black;
    border: 1px solid black;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}
.submit__btn {
    background-color:  rgb(2, 2, 66);
    color: white;
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid white; 
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-top: 2rem;
}
.submit__btn:hover {
    background-color: white;
    border: 1px solid  rgb(2, 2, 66) ;
    color:  rgb(2, 2, 66);
    transition: all 0.3s ease-out;
}
@media screen and (max-width: 1140px) {
    .search-contents {
        width: 100%;
        flex-direction: column;
        height: max-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .main-search{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 820px) {
    .search-contents {
        width: 100%;
        height: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

    }
    .input__container__one, 
    .input__container__two {
    width: 100%;
    flex-direction: column;
    }
    .input__section {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .btn {
        width: 100%;
      }
  }
  
  @media screen and (max-width: 768px) {
  }