.results__container {
    height: max-content;
    background-color: white;
    display: flex;
    flex-direction: row;  
    width: 100%;
    object-fit: contain;
    flex-wrap: wrap;
    margin: 1rem;
}
